/* Footer container */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Footer links and buttons */
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links a,
.footer-links button {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    border: none; 
    box-shadow: none;
}

.footer-links a:hover,
.footer-links button:hover {
    background-color: #0056b3;
}

/* Footer information */
.footer-info {
    text-align: center;
}

.footer-about {
    text-align: center; 
    border-radius: 5px;
    background-color: #999;
    padding: 10px;
    margin: 10px auto;
    margin-left: 40%;
    margin-right: 40%;
}
@media only screen and (max-width: 768px) {
    .footer-about {
        margin-left: 10%;
        margin-right: 10%;
    }
}


/* WhatsApp link */
.footer-links .whatsapp-link {
    display: flex;
    align-items: center;
}

.footer-links .whatsapp-link span {
    margin-left: 5px;
}

/* Mail link */
.footer-links .mail-link {
    display: flex;
    align-items: center;
}

.footer-links .mail-link span {
    margin-left: 5px;
}
