.cookie-manager {
    background-color: #777;
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookie-manager h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.cookie-manager label {
    display: block;
    margin-bottom: 10px;
}

.cookie-manager input[type="text"],
.cookie-manager input[type="password"],
.cookie-manager button {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box; /* ensures padding and border are included in width */
}

.cookie-manager button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.cookie-manager button:hover {
    background-color: #0056b3;
}

.cookie-manager h3 {
    font-size: 20px;
    margin-top: 20px;
}

.cookie-manager p {
    font-size: 16px;
    margin-bottom: 5px;
    background-color: #aaa;
}
